@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="box">
    <h2>Game Boy Graphics Toy</h2>
    <p>Choose an image from your computer and it will be recolored and displayed here.</p>
    <p>This project is <a href="https://github.com/taylus/gameboy-graphics">open-source</a> and part of my work in <a href="https://github.com/taylus/gameboy-dev">Game Boy development</a>.</p>
    <p><input type="file" accept=".png,.jpg,.jpeg,.gif"></p>
</div>

<div class="box">
    <div id="gameboy">
        <img id="screen">
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}