@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="box">
    <h2>Game Boy-ify Yourself</h2>
    <p>Choose an image from your computer and it will be Game Boy-ified and displayed below.</p>
    <p><input type="file" accept=".png,.jpg,.jpeg,.gif"></p>
    <div id="gameboy">
        <img id="screen">
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}