body {
    background: #eee;
    font-family: Helvetica,sans-serif;
    font-size: 13pt;
    text-align: center;
}

div.box {
    text-align: left;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px auto;
    display: inline-block;
    vertical-align: top;
}

div.gb {
    padding: 12px 16px;
}

#download {
    margin-top: 4px;
    width: 100%;
    line-height: 24px;
}

div.filedrop {
    background-color: lightgray;
}

h1, h2 {
    margin-top: 0;
}

#gameboy {
    background-image: url("../img/gameboy-bg.png");
    width: 295px;
    height: 487px;
}

#screen {
    position: relative;
    top: 63px;
    left: 68px;
    width: 160px;
    height: 144px;
    border-radius: 3px;
    display: none;
}

.color-swatch {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

input[type=color] {
    /* use opacity: 0 since mobile Safari won't activate a
     visibility: hidden or display: none input when you tap the label:
     https://stackoverflow.com/a/11471224/7512368 */
    opacity: 0;
}

input[type=radio] {
    margin-top: -16px;
    vertical-align: middle;
}

footer {
    font-size: 9pt;
    color: #aaa;
}

footer p {
    margin: 4px;
}

footer a {
    color: #888;
}